{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<body style="background-color: black">
        <div class="container">
                <img style="margin-left:-4px;width:286px;height:110px;"src="./static/icon.jpeg">
                <img style="margin-left:-4px;width:60px;height:60px;border-radius: 80px;"src="./static/icon2.jpeg">
                <a style="color:white;padding-left:400px;font-size:40px;font-family: sans-serif;font-weight: bold;"href="/accounts/login">Log In or Sign Up</a>
            </div>
<div style="padding:20px;margin-left:25px;margin-top:15px;margin-right:45px;background-color: whitesmoke" class="container-fluid">
        <img style="margin-left:-4px;width:286px;height:157.5px;"src="./static/cover.jpeg">
        <img style="margin-left:-4px;width:286px;height:157.5px;"src="./static/cover2.jpeg">
        <img style="margin-left:-4px;width:286px;height:157.5px;"src="./static/cover3.jpeg">
        <img style="margin-left:-4px;width:286px;height:157.5px;"src="./static/cover4.jpeg">
        <img style="margin-left:-4px;width:286px;height:157.5px;"src="./static/cover5.jpeg">
        <img style="margin-left:-4px;width:153px;height:157px;"src="./static/cover6.jpeg">
        <img style="margin-left:-4px;width:286px;height:157.5px;"src="./static/cover8.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover7.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover8.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover9.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover8.jpeg">
        <img style="margin-left:-4px;width:153px;height:157px;"src="./static/cover9.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover11.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover8.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover13.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover8.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover15.jpeg">
        <img style="margin-left:-4px;width:153px;height:157px;"src="./static/cover14.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover16.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover17.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover18.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover19.jpeg">
        <img style="margin-left:-4px;width:286px;height:157px;"src="./static/cover20.jpeg">
        <img style="margin-left:-4px;width:153px;height:157px;"src="./static/cover10.jpeg">

</div>
</body>
{% endblock %}