{%extends 'base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}

{% for images_item in images %}
<body style="background-color:#242426;background-attachment: fixed;">
<div class="well" style="background-color:white;margin-left:10%;margin-right:35%;opacity:0.9;margin-top:6%;" >
    <h3 style="padding-left:5px;padding-right:20px;margin-top:-10px;margin-bottom:-13px;font-weight:bolder;"><img style="width:60px;height:60px;border-radius:118px" src="{{images_item.profile_pic.url}}">{{images_item.username}}</h3>
    <hr style="background-color: black;">
    <a style="color:black;font-size: 20px;"href="details/{{images_item.photo_id}}/" ><img class="img-responsive"style="width:900px;height:600px;margin-top:-7px;" src="{{images_item.post.url}}"></a>
    <h2>{{images_item.post_caption}}.</h2>
    <h3>{{images_item.bio}}</h3>
</div> 

{% empty %}
<div class="well"style="background-color:white;margin-left:10%;margin-right:35%;opacity:0.9;margin-top:6%;padding-bottom:700px;" >
        <h2 class="text-center">There Are No images</h2>
      </div>
{% endfor %}
{% endblock %}